/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
* {
  /*outline: 3px dashed red;*/
  margin: 0px;
  font-size: 18px;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #453e4f
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h1,
h2 {
  font-family: 'Alike', Georgia, 'Times New Roman', Times, serif;
}

.content-wrapper {
  width: 90%;
  margin: 60px 0;
}

.center-content-and-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

header {
  background-color: #f19494;
  padding-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navigation */

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav ul a {
  text-decoration: none;
  color: #453e4f;
}

nav ul a:hover {
  opacity: 0.7;
}

/* Main Area */

.main-area {
  background-color: #f19494;
}

.main-area h1 {
  padding-bottom: 30px;
  font-size: 3em;
}

/* Projects */
.projects {
  background-color: #ffe8d6;
}

.projects h1 {
  padding-bottom: 20px;
}

.projects article {
  margin: 40px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.projects p {
  padding: 10px 10px;
}

.projects h3 {
  padding: 10px;
}

.projects ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.projects li {
  list-style-type: square;
  list-style-position: inside;
  max-width: 75%;
}

.projects button {
  border: none;
  background-color: #f19494;
  border-radius: 10px;
  margin: 5%;
  padding: 4%;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.projects button:hover {
  opacity: 0.7;
}

/*add hover class to go to link*/

.projects img {
  width: 90%;
  padding: 20px 0;
}

.projects img:hover {
  opacity: 0.7;
}

/* Skills */
.skills {
  background-color: #e8eff7;
}

.skill-holder {
  padding: 30px 0;
}

.skills i {
  font-size: 3em;
  margin-bottom: 20px;
}

/* About */
.about {
  background-color: #453e4f;
  color: #ffe8d6;
}

.about img {
  max-width: 250px;
  padding: 20px 10px;
}

.about p {
  margin: 0 10px 10px 10px;
  text-align: left;
}

/* Contact */

.contact {
  background-color: #f19494;
}

.icon-holder {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 60%;
}

.icon-holder i {
  font-size: 60px;
  color: #454545;
}

.icon-holder a {
  text-decoration: none;
  color: #454545;
}

.icon-holder p {
  font-size: 20px;
  font-weight: 600;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  /*************Tablet Styles*****************/
  * {
    font-size: 20px;
  }

  /****Projects****/

  .projects h1 {
    margin-bottom: 30px;
  }

  .projects .item-container {
    display: flex;
    flex-wrap: wrap;
  }

  .projects article {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    height: 25%;
  }

  .projects img {
    min-width: 300px;
    margin: 20px;
  }

  .projects-skills-div {
    display: flex;
    flex-direction: column;
  }

  .projects h3 {
    padding-bottom: 0;
  }

  .projects button {
    margin: 0;
    padding: 2%;
    margin: 2%;
    width: 50%;
    align-self: center;
  }

  /****Skills****/

  .skill-group-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .skill-holder {
    min-width: 30%;
  }

  /****About****/

  .about-content {
    display: flex;
    align-items: center;
  }

  /****Contact****/


}

@media only screen and (min-width: 1200px) {
  /*Desktop Styles*/

  /****Header****/
  header {
    display: flex;
    justify-content: flex-end;
  }

  .main-area {
    padding-bottom: 60px;
  }

  /****Navigation****/

  nav {
    width: 30%;
  }

  nav ul {
    gap: 10px;
  }

  /****Projects****/

  .projects h1 {
    margin-bottom: 50px;
  }

  .projects article {
    flex-basis: 100%;
    justify-content: center;
  }

  .projects img {
    min-width: 500px;
    margin: 20px;
  }

  .projects button {
    max-width: 300px;
  }

  /****Skills****/

  /****About****/
  .about-content {
    width: 60%;
  }


  /****Contact****/
  .icon-holder {
    margin: 50px;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}